<tr>
    <td width="128" height="26" background="themes/{tmpl_var name="theme"}/images/nav_top_bg.gif">&nbsp;</td>
    <td rowspan="3" class="mainContent">
        <table width="100%" height="100%" border="0" cellpadding="20" cellspacing="0">
            <tr>
                <td width="200"><iframe height="100%" width="100%" frameborder="0" name="navframe" src="{tmpl_var name="navframe_page"}"></iframe></td>
                <td><iframe height="100%" width="100%" frameborder="0" name="content" src="{tmpl_var name="startpage"}"></iframe></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td width="128" align="right" valign="top" bgcolor="#DEE4F2">
        <table width="128" border="0" cellspacing="0" cellpadding="2">
            <tr>
                <td height="10">&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                    <tmpl_loop name="nav_left">
                        <table bgcolor="#F4F6FB" width="115">
                            <tr>
                                <td class="navLeftHead"><tmpl_var name="title"></td>
                            </tr>
                            <tr>
                                <td>
                                    <tmpl_loop name="items">
                                        <a href="<tmpl_var name='link'>" class="navLeftItem" target="<tmpl_var name='target'>"><tmpl_var name="title"></a><br>
                                    </tmpl_loop>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </tmpl_loop>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="left" valign="bottom" bgcolor="#DEE4F2">&nbsp;</td>
</tr>