<tmpl_if name='sidebar_active'>
<aside id="sidebar" class="login-sidebar">
    {tmpl_var name='sidebar_records'}
</aside>
</tmpl_if>
<div id="login-form-reset">
    <div class="box-inner panel panel_password_reset">

        <tmpl_if name="msg">
            <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
        </tmpl_if>
        <tmpl_if name="error">
            <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
        </tmpl_if>

        <div class="pnl_formsarea">
            <fieldset class="inlineLabels"><legend>{tmpl_var name='pw_reset_txt'}</legend>
                <div class="ctrlHolder">
                    <label for="email"><em>*</em> {tmpl_var name='email_txt'}</label>
                    <input name="email" id="email" value="" size="30" maxlength="255" type="text" class="textInput" />
                </div>
                <div class="ctrlHolder">
                    <label for="username"><em>*</em> {tmpl_var name='username_txt'}</label>
                    <input name="username" id="username" value="" size="30" maxlength="255" type="text" class="textInput" />
                </div>
            </fieldset>

            <input type="hidden" name="s_mod" value="login" />
            <input type="hidden" name="s_pg" value="index" />

            <div class="buttonHolder buttons">
                <button class="positive" type="button" value="{tmpl_var name="add_new_record_txt"}" onclick="submitForm('pageForm','login/password_reset.php');"><span>{tmpl_var name='pw_button_txt'}</span></button>
            </div>
        </div>

    </div>
</div>